* {
  box-sizing: border-box; 
}

.main-content {
  text-align: center;
}
footer {
  text-align: center;
  margin-bottom: 20px;
}

.sidenav li>a {
  color: white;
}

body {
  background-color: #0091ea;
  color: white;
}

div.container > div.section {
  vertical-align: middle;
}

h2 {
  font-weight: 200;
  font-size: 1.5rem;
}

h1 {
  font-weight: 200;
  font-size: 2.5rem;
}

footer > div > a {
  margin:0 0.5rem;
  
}

i.fa {
  color: white;
  font-size: 2rem;
  -webkit-transition: color 0.25s; /* Safari */
  -moz-transition: color 0.25s;
  -o-transition: color 0.25s;
  transition: color 0.25s;
}

i.fa:hover {
  color: black;
}


a.brand-logo > img {
  margin-top: 10px;
}
 section {
  width: 100%;
  padding: 0;
  display: table;
/*   margin: 0; */
  max-width: none;
/*   background-color: #373B44; */
   padding: auto;
  height: 100vh;
}

section > div {
  
  margin: 700px 0;
}

p.flow-text {
  font-weight: 200;
/*   text-align: justify; */
}

input, textarea {
  color: white;
}

section > div.container {
  margin: 70px auto;
  height: inherit;
}

section > div.container > div {
/*   padding-top: 50%; */
}

nav {
  position: fixed;
  z-index: 1;
}


.sidenav-overlay {
  background-color: rgba(0, 0, 0, 0.1);
}

ul.sidenav > img {
  padding:5%;
}

/* label color */
   .input-field label, .input-field label.active {
     color: #607d8b;
   }
   /* label focus color */
    .input-field input[type=text]:focus + label, .input-field input[type=email]:focus + label, .materialize-textarea:focus:not([readonly]) + label {
     color: #0091ea !important;
    }

/* label underline focus color */
    .input-field input[type=text]:focus,.input-field input[type=email]:focus, .materialize-textarea:focus:not([readonly]) {
     border-bottom: 1px solid #0091ea !important;
     box-shadow: 0 1px 0 0 #0091ea !important;
    }
